/NODE_JS/notes-app/node_modules
/NODE_JS/RENDERING-ENGINE/node_modules
/NODE_JS/AUTHENTICATION/node_modules
/NODE_JS/AUTHENTICATION/.env
/NODE_JS/FILE-OPERATION/node_modules
/NODE_JS/TIME_CONVERTER/node_modules
/NODE_JS/INTERNATIONALIZATION/node_modules
/NODE_JS/SHOP_OPEN_PROGRAM/node_modules