body {
  background-color: rgb(235, 235, 235);
  min-height: 43vh;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  cursor: pointer;
  margin-left: 20px;
  margin-top: 20px;
  width: 300px;
}

img {
  height: 200px;
}

footer {
  margin-top: 50px;
}
