* {
  margin: 0%;
}

body {
  align-items: center;
  margin-bottom: 200px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

label {
  font-size: 20px;
  font-weight: 600;
}

nav {
  height: 70px;
  width: 100%;
  background-color: rgb(31, 41, 55);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 400px;
  height: 70px;
  padding-top: 15px;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  color: white;
}

.add-product-btn {
  margin-right: 100px;
  width: 150px;
  height: 40px;
  font-size: large;
  background-color: white;
  align-items: flex-end;
  text-align: center;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  padding-top: 5px;
}

.add-product-btn:hover {
  background-color: rgb(238, 139, 10);
  color: white;
}

.main-div {
  width: 100%;
}

/* displaying product table css */
table,
tr,
th,
td {
  border-bottom: 0.5px solid rgb(218, 202, 202);
  padding: 1%;
  font-size: 18px;
  font-weight: 500;
  background-color: rgb(241, 241, 241);
}

table {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

th {
  padding: 15px;
  background-color: rgb(31, 45, 55);
  color: white;
  width: 200px;
}
td {
  text-align: center;
}

.action-td {
  width: 200px;
  display: flex;
  gap: 10px;
  border: none;
  padding: 10px 30px;
}

.action-td > button {
  padding: 2% 4%;
  border-radius: 5px;
}

.action-td > button:hover {
  border-color: black;
}

.view-btn {
  width: 100%;
  height: 100%;
  background-color: rgb(75, 83, 201);
  color: white;
}
.edit-btn {
  width: 100%;
  height: 100%;
  background-color: rgb(29, 167, 29);
  color: white;
}
.delete-btn {
  width: 100%;
  height: 100%;
  background-color: rgb(233, 69, 69);
  color: white;
}

span {
  padding: 0px 5px;
  font-size: 20px;
  font-weight: 900;
  background-color: rgb(199, 188, 88);
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.filterDiv {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 18%;
  margin-top: 5%;
  margin-bottom: 0%;
}

#filterInput {
  padding: 5px;
  text-decoration: none;
  border-radius: 7px;
}
