* {
  margin: 0%;
}

body {
  align-items: center;
}

nav {
  height: 70px;
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 400px;
  height: 70px;
  padding-top: 15px;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
}

.add-product-div {
  margin-right: 100px;
  width: 150px;
  height: 40px;
  font-size: large;
  background-color: white;
  align-items: flex-end;
  text-align: center;
  border-radius: 8px;
}

.add-product-div:hover {
  background-color: rgb(238, 139, 10);
  color: white;
}

.div-form {
  width: 30%;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  background-color: gray;
}

form {
  align-items: center;
}
