.div-form {
  width: 100%;
  max-width: 700px;
  margin: auto;
  margin-top: 50px;
  padding: 2%;
  background-color: aqua;
  align-items: center;
  text-align: center;
  border-radius: 5%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form > div {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1%;
}
form > div > label {
  width: 300px;
  text-align: start;
}

form > div > div,
form > div > div {
  width: 100%;
  padding: 5px 15px;
  border-radius: 5px;
  z-index: 10;
  text-align: start;
  font-size: 20px;
  font-weight: 400;
  /* background-color: white; */
}

#go-back-btn {
  width: 150px;
  height: 40px;
  font-size: large;
  background-color: white;
  align-items: flex-end;
  text-align: center;
  border-radius: 5px;
  margin-top: 5%;
}

#go-back-btn:hover {
  background-color: rgb(238, 139, 10);
  color: white;
}

#productImage {
  width: 100%;
  height: 300px;
}
